.cadastro-box-lg {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  max-width: 90%;
  height: 550px;
}

.cadastro-banner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}