textarea {
  width: 100%;        /* ocupa toda a largura do container */
  max-width: 100%;    /* não ultrapassa o pai */
  box-sizing: border-box; /* inclui padding e borda na largura */
  resize: vertical;   /* permite redimensionar só na vertical */
  overflow-y: auto;   /* adiciona scroll vertical se ultrapassar altura */
  min-height: 80px;   /* altura inicial */
  max-height: 200px;  /* altura máxima */
}

label{
    margin-left: 5px;
    margin-right: 5px;
}