:root {
  --login-input-border: #ccc; 
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.section-conta{
  display: flex;
  flex-direction: column;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro-box {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  max-width: 90%;
}

.cadastro-form {
  flex: 1;
  padding: 40px;
}

.cadastro-form h2 {
  margin: 0 0 10px 0;
  color: #2e7d32;
}

.cadastro-form p {
  margin: 0 0 20px 0;
  color: #555;
}

.cadastro-form form {
  display: flex;
  flex-direction: column;
}

.cadastro-form input,
.cadastro-form select,
.cadastro-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 1px var(--login-input-border);
  border-radius: 0;
  font-size: 14px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.cadastro-form input:focus,
.cadastro-form select:focus,
.cadastro-form textarea {
  border-bottom: solid 1px #28a745;
}

.cadastro-form button {
  padding: 12px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.cadastro-form button:hover {
  background-color: #27632a;
}
