:root {
  --login-input-border: #ccc;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

h3 {
  color: #27632a;
}

.section-conta {
  display: flex;
  flex-direction: column;
}

.section-endereco {
  display: flex;
  flex-direction: column;
}

.linha {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.linha input,
.linha select {
  flex: 1;
}

.section-geo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.section-geo input {
  flex: 1;
  padding: 8px;
}

.section-geo button {
  padding: 8px 16px;
  white-space: nowrap;
  margin-bottom: 20px;
}


.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
}

.cadastro-box {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  max-width: 90%;
}

.cadastro-form {
  flex: 1;
  padding: 40px;
}

.cadastro-form h2 {
  margin: 0 0 10px 0;
  color: #2e7d32;
  text-align: center;
}

.cadastro-form p {
  margin: 0 0 20px 0;
  color: #555;
  text-align: center;
}

.cadastro-form form {
  display: flex;
  flex-direction: column;
}

.cadastro-form input,
.cadastro-form select,
.cadastro-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 1px var(--login-input-border);
  border-radius: 0;
  font-size: 14px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.cadastro-form input:focus,
.cadastro-form select:focus,
.cadastro-form textarea {
  border-bottom: solid 1px #28a745;
}

.cadastro-form button {
  padding: 12px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.cadastro-form button:hover {
  background-color: #27632a;
}

.confirmacao-local {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #0a2214; /* verde suave */
}

.confirmacao-local input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
}